{% extends "layout.html" %}

{% block titulo %}
   Vista crear nuevo Articulo
{% endblock %}

{% block contenido %}
   <h2>Crear nuevo articulo</h2>
   <form class="row" method="post" action="{% url 'wikiApp:vista_crear_nuevo_articulo' %}">
        {% csrf_token %}
        <div>
            <label>Titulo del articulo</label>
            <br>
            <input type="text" name="tituloArticulo">
        </div>
        <div>
            <label>Elegir tema</label>
            <br>
            <select name="tema">
                <option selected>...</option>
                {% for tema in listaTemas %}
                <option value="{{ tema.id }}">{{ tema.nombreTema }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Contenido del articulo</label>
            <br>
            <textarea rows="5" cols="60" name="contenidoArticulo"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
   </form>
{% endblock %}